<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>detego dessing room</title>
  <link rel="stylesheet" href="styles.css">
  <!-- <link rel="./views/stylesheet" href="styles.css"> -->
  <!-- <link href="http://localhost/views/styles.css" type="text/css" rel="stylesheet"> -->
  <script
  			  src="https://code.jquery.com/jquery-3.2.1.min.js"
  			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  			  crossorigin="anonymous"></script>

  <script src="./classes/tagevent.js" type="text/javascript" ></script>
  <script src="./classes/datasink.js" type="text/javascript" ></script>
  <script src="./classes/emitter.js" type="text/javascript" ></script>
  <script src="./classes/product.js" type="text/javascript" ></script>
  <script src="./classes/dressingroom.js" type="text/javascript" ></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="statistics.js" type="text/javascript" ></script>
  <script src="detego_client.js" type="text/javascript" ></script>
  <!-- <script src="./views/detego_client.js" type="text/javascript" ></script> -->
  <!-- <script src="http://localhost/views/detego_client.js" type="text/javascript" ></script> -->
</head>
<body>
  <div id='header'><h1>DETEGO ASSIGNMENT</h1></div>
  <div id='main'>
    <div id='config'>
      <dl>
        <dt><label for='conf_rooms'>Rooms</label></dt>
        <dd><input type='number' class='conf_input' id='conf_rooms' min='1' max='10' value='3'></dd>
      </dl>
      <!-- <dl>
        <dt><label for='conf_rooms'>Timescale</label></dt>
        <dd><input type='number' class='conf_input' id='conf_timescale' min='1' max='100' value='1'></dd>
      </dl> -->
    </div>
    <div class='stopfloat'></div>
    <div id="center_display">
      <div id='dressrooms'></div>
      <div class="stopFloat"></div>
      <div id='products' class='droptarget' ondrop='drop(event)' ondragover='allowDrop(event)'></div>
      <div class="stopFloat"></div>
      <div class='hseperator'></div>
      <div id='statistics'>
        <button onclick="loadStats('test')">Stats</button>
        <input type="text" id='stats_method' value='test'>
        <!-- <div id="chart_div" style="width:400; height:300"></div> -->

      </div>
    </div>
    <div id="right_display">
      <p id="myLittleConsole">
      </p>
    </div>
  </div>
</body>
</html>
