body {
    width: 99%;
    height: 99%;
    background-color:#0c3458;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Montserrat-Regular', 'Montserrat', 'Gotham', 'Helvetica', 'Arial', sans-serif;
    color: white;
}

dl {
  display: inline-block;
}

#header {
  min-height: 2%;
  max-height: 10%;
  height: 15%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}

#main {
    width: 85%;
    height: auto;
    min-height: 50%;
    display: block;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#right_display {
	height: 70%;
	width: 15%;
	float: right;
	background: linear-gradient(rgba(12,145,236,0.1), rgba(12,145,236,0.3), rgba(12,145,236,0.1));
    right: 6%;
	font-size: 0.8em;
	color: #888;
	position: fixed;
	padding: 5px;
}

#center_display {
	height: 100%;
	width:80%;
	margin-left: 5px;
	float: left;
	overflow-x: auto;
}

#config {

  padding-left: 5px;
  margin: 5px 5px;
  margin-bottom: 16px;
}

#config dd {
  float: left;
  margin-left: 0;
  margin-top: 5px;
}

.dressroom {
   min-width: 150px;
   min-height: 200px;
   float: left;
   margin: 5px;
   border: 1px solid white;
}

.emitter {
  margin: 0px 0px 5px 5px;
  border: 1px solid green;
  /*min-height: 10px;*/
  height:10px;
  width:95%;
  float: right;
}

#products {
    border: 1px solid yellow;
    min-width: 300px;
    min-height: 52px;
    height: 60px;
    float: left;
    margin: 5px;
}

.product {
    border: 1px solid yellow;
    min-width: 50px;
    min-height: 50px;
    float: left;
    margin: 5px;
}

.stopFloat {
	clear: both;
	border-style: none;
  border-width: 0px;
	margin: 0px;
}
